/*!*****************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./css/index.css ***!
  \*****************************************************************************************************************************************/
@font-face {
  font-family: "MoneCarlo";
  src: local("MoneCarlo"),
    url(50b3cbca4256cd6f7b76.woff2) format("woff2"),
    url(3d38af20da722ad21dbd.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    url(f3cc56e19e8c2b9706bd.woff2) format("woff2"),
    url(3a9d859c0b19407fa725.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"),
    url(fe848f0b984ed7d46b52.woff2) format("woff2"),
    url(3a9d859c0b19407fa725.woff) format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: rgb(238, 238, 238);
}

ul {
  list-style: none;
}

:focus-visible {
  outline: #000 solid 1px;
  outline-offset: 2px;
}

.main__btn {
  padding: 12px 25px;
  min-width: 120px;
}

.btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:focus-visible,
.main__btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
  transition: all 0.1s ease-in;
}

.main__btn:active {
  background-color: #fff;
}

.hero-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  text-align: center;
}

.hero-container__logo {
  width: 200px;
  margin-bottom: 20px;
}

.hero-container__logo:not(:last-child) {
  margin-bottom: 40px;
}

.auth-canceled-message {
  display: none;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 20px;
}

